<!-- 
  Copyright 2019 Google LLC.
  SPDX-License-Identifier: Apache-2.0
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" type="text/css" href="style-product.css">
  
    <title>Cotton crew-neck t-shirt - 50% off</title>

</head>

<body>
    <div class="product">

        <div class="product-image">
          <img src="img/product-image.jpeg"/>
        </div>
      
        <div class="product-detail">
          <h2 class="product-name">Cotton crew-neck t-shirt</h2>
              <p class="product-price">$15</p><br>
          
              <hr class="section-break">
              <p class="picker-title">Color: </p>  
              <label>
                <input type="radio" name="color-picker" value="black" checked>
                <img class="product-color" src="img/black-color.png">
              </label>
              <label>
                <input type="radio" name="color-picker" value="grey">
                <img class="product-color" src="img/grey-color.png">
              </label>
              <p class="picker-title">Size: </p>
              <ul class="product-size">
                <li>
                  <input type="radio" id="small" name="size-picker" checked="checked" />
                  <label for="small">Small</label>
                </li>
                <li>
                    <input type="radio" id="medium" name="size-picker"/>
                    <label for="medium">Medium</label>
                </li>
                <li>
                    <input type="radio" id="large" name="size-picker" />
                    <label for="large">Large</label>
                </li>
              </ul>
              <br/><br/><br/>
              
              <hr class="section-break"><br/>
          
              <button class="add-to-cart-btn hvr-grow">Add to cart</button><br><br>
            
              <p class="product-description">
                  Our best-selling t-shirt is perfect for summer and a classic choice for every day. Looks great by itself or under a blazer.
              </p>
        </div>      
    
    </div>
</body>

</html>